<a href="https://colab.research.google.com/github/Winest-Nigeria/fgan-I-298-R1/blob/main/dividing_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('dataset.csv')

FileNotFoundError: ignored

In [ ]:
df.head(4)

,tokens,pos
0,"['I', 'n', 't', 'e', 'r', 'n', 'a', 't', 'i', ...","[28, 41, 16, 21, 21, 15, 12, 21, 21, 41, 15, 1..."
1,"['Y', 'series', '–', 'Supplement', '71', '(', ...","[22, 21, 22, 22, 11, 4, 11, 5, 21, 38, 11, 35,..."
2,"['The', 'use', 'cases', 'are', 'divided', 'int...","[12, 21, 24, 41, 40, 15, 11, 24, 6, 10, 16, 24..."
3,"['Various', 'use', 'cases', 'are', 'derived', ...","[16, 21, 24, 41, 40, 39, 35, 12, 21, 24, 15, 1..."

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1443 entries, 0 to 1442
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tokens  1443 non-null   object
 1   pos     1443 non-null   object
dtypes: object(2)
memory usage: 22.7+ KB

In [ ]:
df1=df.iloc[0:289]
df2=df.iloc[289:578]
df3=df.iloc[578:866]
df4=df.iloc[866:1154]
df5=df.iloc[1154:1444]

In [ ]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 1154 to 1442
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tokens  289 non-null    object
 1   pos     289 non-null    object
dtypes: object(2)
memory usage: 4.6+ KB

In [ ]:
df4.head(4)

,tokens,pos
866,"['A', 'data', '-driven', 'approach', 'based', ...","[12, 21, 30, 21, 40, 15, 22, 42, 12, 16, 35, 3..."
867,"['An', 'e', 'xample', 'scenario', 'for', 'the'...","[12, 16, 21, 21, 15, 12, 21, 21, 42, 15, 42, 8..."
868,"['Because', 'of', 'their', 'highly', 'directio...","[15, 15, 29, 30, 16, 24, 6, 24, 39, 15, 21, 21..."
869,"['The', 'TX', 'and', 'RX', 'need', 'to', 'coor...","[12, 22, 10, 22, 41, 35, 37, 35, 37, 12, 21, 2..."

In [ ]:
df1.to_csv('dataset1.csv', index=False)
df2.to_csv('dataset2.csv', index=False)
df3.to_csv('dataset3.csv', index=False)
df4.to_csv('dataset4.csv', index=False)
df5.to_csv('dataset5.csv', index=False)